/*imports*/
@import url('./public/css/lesshat.less');
@import url('./public/css/flex.less');

.App {
  text-align: center;
  nav{
    background: lighten(black, 10%);
  }

  h2{
    font-size: 28px;
  }
  h3, h4{
    font-size: 20px;
  }
  .wrapper{
    .display();
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: solid gray 2px;
    box-shadow: 0 0 5px gray; 
  }
  .user-list{
    .flex(3);
    .users{
      background: darken(white, 20%);
      .display();
      .justify-content(center);
      .flex-wrap(wrap);
      .guia(green);

      li{
        .guia(black);
        min-width: 45%;
        margin: 1%;
      }
    }
  }

  .user-actions{
    padding: 5px;
    margin: 5px;
    margin-top: 26px;
    .flex(1);
  }
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
  max-width: 250px;
  max-height: 50px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% { 
      .transform (rotateY(-45deg)translateX(-150px));
     }
  50% { 
      .transform( rotateY(45deg)translateX(0px));
     }
  100% { 
      .transform (rotateY(-45deg)translateX(-150px));
     }
}
